{%extends 'base.html'%}

{%block title_block%}
   <title>
      task-add
   </title>

{%endblock%}

{%block body_block%}

 <div class="container mt-3">
    <div class="row mt-3">
        <div class="col-4"></div>
        <div class="col-4">
         {%for m in messages%}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>{{m}}</strong> 
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {%endfor%}
         <h1>Add Your Tasks Here!!</h1>
            <form action="" method="post" class="mt-4">
                {%csrf_token%}
                {{form.as_p}}
                <input type="submit" value="Add" class="btn btn-outline-info">
             </form>
            

        </div>
        <div class="col-4"></div>
    </div>
 </div>


  
{%endblock%}