<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>HOME</h1>

    <a href="{%url 'add'%}">Addition</a>
    <a href="{%url 'sub'%}">Subtraction</a>
    <a href="{%url  'multi'%}">Multiplication</a>
    <a href="{%url  'div'%}">Division</a>
    <a href="{%url  'fact'%}">Factorial</a>
    <a href="{%url  'prime'%}">Prime</a>
    <a href="{%url  'armstrong'%}">Armstrng</a>
    <a href="{%url  'palindrome'%}">Palindrome</a>
    <a href="{%url  'even'%}">Even</a><br>
    <a href="{%url   'health'%}"> Health</a>
</body>
</html>